<div class="toolbar">
  <h1>Test your password strength</h1>
  <div>
    <input type="text" ngModel name="inputData" [(ngModel)]="inputData" (input)="handleInputChange(inputData)">
  </div>
  <div class="circles">
    <div [ngClass]="{'gray-circle': shouldGray, 'red-circle': isPasswordWeak||isLessEight, 'yellow-circle': isPasswordMedium, 'green-circle': isPasswordStrong}"></div>
    <div [ngClass]="{'gray-circle': shouldGray||isPasswordWeak, 'red-circle': isLessEight, 'yellow-circle': isPasswordMedium, 'green-circle': isPasswordStrong}"></div>
    <div [ngClass]="{'gray-circle': shouldGray||isPasswordWeak, 'red-circle': isLessEight, 'green-circle': isPasswordStrong}"></div>
  </div>
</div>



<router-outlet></router-outlet>
